table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px 3px 4px 4px;
}

th {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
}