.modal {
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    width: 25%;
    background-color: var(--main__bg--color);
    margin: 5% auto;
    padding: 10px 17px 20px 10px;
    border: 1px solid #888;
    box-shadow: 4px 5px var(--main__text--color);

    animation-name: modal-open;
    animation-duration: .8s;

    & label {
        display: block;
        margin: 5px 0 2px;
        font-family: 'Abel';
        font-size: 1rem;
    }

    & input {
        display: block;
        width: 100%;
        padding: 3px;
        margin: 2px 5rem 2px 0;
        border: 1px solid var(--main__text--color);
        border-radius: 2px;
        outline: none;
    }

    .btn {
        padding: .2rem;
        border: 0;
        margin: 18px 0 0px;
        color: white;
        cursor: pointer;
    }

    #cancel {
        background-color: var(--header__bg--color);
        color: var(--nav__text--color);
    }

    #submit {
        background-color: var(--main__text--color);
        margin-left: 10px;
    }
}

@keyframes modal-open {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
